/.venv
/__pycache__/

/mnist/__pycache__/
/mnist/data
/mnist/results
/mnist/viz
/mnist/slurm*

/sim/__pycache__/
/sim/data
/sim/results
/sim/viz
/sim/slurm*

/permuted_mnist/__pycache__/
/permuted_mnist/data
/permuted_mnist/results
/permuted_mnist/viz
/permuted_mnist/slurm*